@import '@/styles/vars.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: $font;
  font-size: $font-base;
}

html, body {
  margin: 0;
  padding: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

$w-margin: 16px;
$w-splitter: 1px solid #a0a0a0;

.w-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  background-color: white;
  opacity: 0.9;
}

.w-header, .w-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $w-margin;
}

.w-header {
  padding: $w-margin / 2 $w-margin $w-margin;
  border-bottom: $w-splitter;
}

.w-footer {
  padding: $w-margin $w-margin $w-margin / 2;
  border-top: $w-splitter;
}

.w-content {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  pointer-events: auto;
  padding: 0 $w-margin;
}

.nw-resize { cursor: nw-resize; }
.nn-resize { cursor: n-resize; }
.ne-resize { cursor: ne-resize; }
.ww-resize { cursor: w-resize; }
.ee-resize { cursor: e-resize; }
.sw-resize { cursor: sw-resize; }
.ss-resize { cursor: s-resize; }
.se-resize { cursor: se-resize; }
