$font: Verdana, sans-serif;
$font-base: 14px;
$font-menu: 16px;

$w-radius: 8px;
$w-resize: 8px;
$w-shadow: 0 0 50px black;

$z-app: 20;
$z-window: 10;

$menu-bg: #404040;
$menu-text: white;
$menu-shadow: 0 0 8px rgba(black, 0.5);
$menu-zindex: 1;
