.icon-down {
  mask-image: url('~@/assets/down.svg');
}

.icon-expand {
  mask-image: url('~@/assets/expand.svg');
}

.icon-less {
  mask-image: url('~@/assets/less.svg');
}

.icon-up {
  mask-image: url('~@/assets/up.svg');
}
