$font: Verdana, sans-serif;
$font-base: 14px;
$font-menu: 16px;

$transition: 0.25s;

$bg-dark: #404040;
$bg-lite: #e0e0e0;

$text-dark: #202020;
$text-lite: #d0d0d0;

$w-margin: 16px;
$w-radius: 8px;
$w-resize: 8px;
$w-shadow: 0 0 50px black;
$w-splitter: 1px solid #a0a0a0;

$z-app: 20;
$z-window: 10;

$header-shadow: 0 0 5px rgba(black, 0.5);
$popup-shadow: 0 0 10px rgba(black, 0.5);

$tools-width: 250px;

@mixin frame($color) {
  $total: 5px;
  $border: 2px;
  $margin: $total - $border;
  border: $border solid $color;
  margin: $margin;
}
