@import '@/style/_vars.scss';
@import '@/style/_icons.scss';
@import '@/style/_themes.scss';

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

html {
  font-family: $font;
  font-size: $font-base;
}

html,
body {
  margin: 0;
  padding: 0;
}

svg {
  user-select: none;
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

// standard dialog content layout
.w-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  background-color: var(--bg-primary);
  opacity: 0.9;
}

.w-header,
.w-footer {
  display: flex;
  margin: $w-margin;
  align-items: center;
  justify-content: center;
}

.w-header {
  border-bottom: $w-splitter;
  padding: $w-margin / 2 $w-margin $w-margin;
}

.w-footer {
  border-top: $w-splitter;
  padding: $w-margin $w-margin $w-margin / 2;
}

.w-content {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  pointer-events: auto;
  padding: 0 $w-margin;
}

.overlay {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.spacer {
  flex-grow: 1;
  transition: flex-grow $transition;
  &.collapsed {
    flex-grow: 0;
  }
}

.round {
  border-radius: 50vh;
}

.h-separator {
  width: 100%;
  height: 1px;
}

.v-separator {
  width: 1px;
  height: 100%;
}
